.titulo{
    font-size: 100%;
    font-weight: bold;
}
.nombre{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.articulo{
    border: 1px solid grey;
    padding: 2px;
    margin-top: 1%;
}
.texto{
    font-weight: bold;
}